input[type="checkbox"].checkbox {
  margin: 0px;
}


.button {
  background-color: #111827;
  padding: 12px 20px;
  outline: none;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  text-align: center;
  
}

.button:hover {
  background-color: black;
}